___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [42]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [64]:
# Check
lesser_of_two_evens(6,80)

6

In [63]:
# Check
lesser_of_two_evens(21,51)

51

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [52]:
def animal_crackers(text):
    word = text.lower().split()
    return word[0][0] ==word[1][0]

In [53]:
# Check
animal_crackers('Levelheaded Llama')

True

In [68]:
# Check
animal_crackers('Crazy Kat')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [60]:
def makes_twenty(n1,n2):
    return ((n1 or n2)==20) or n1+n2==20

In [61]:
# Check
makes_twenty(20,10)

True

In [62]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [85]:
def old_macdonald(name):
    return name[0].capitalize() + name[1:3:1] + name[3].capitalize() + name[4:]

In [86]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [148]:
def master_yoda(text):
    str1=''
    words = text.split()
    for x in range(1,len(words)+1):
        str1 =str1 + ' ' + words[(-1)*x] 
    return str1

In [136]:
name= 'Yash'
name1 = 'yash'
age = 30
type(age)
#print(f'My name is {name} and I am {age} years old')
num1=3.0
num2=3
num1==num2
name == name1

False

In [149]:
# Check
master_yoda('We are ready')

' ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [151]:
def almost_there(n):
    return abs(n) in range(90,111) or abs(n) in range(190,211)

In [152]:
# Check
almost_there(104)

True

In [153]:
# Check
almost_there(150)

False

In [154]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [188]:
def has_33(nums):
    for x in range(1,len(nums)-1):
        if nums[x]==3:
             return nums[x+1]==3 or nums[x-1]==3
            
            
        else:
            return False

In [189]:
# Check
has_33([3, 3, 3])

True

In [190]:
# Check
has_33([1, 3, 1, 3])

False

In [191]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [212]:
def paper_doll(text):
    str1= ''
    for letter in text:
        str1 = str1 + letter*3
        
    return str1

In [213]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [214]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [215]:
def blackjack(a,b,c):
    for x in range(1,12):
        if a+b+c >= 21:
            if a==11 or b==11 or c==11:
                return a+b+c-10
            else:
                return 'BUST'
        else:
            return a+b+c

In [216]:
# Check
blackjack(5,6,7)

18

In [217]:
# Check
blackjack(9,9,9)

'BUST'

In [218]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [252]:
def summer_69(arr):
    sum1=0
    add= True
    for x in arr:
        while add:
            if x!=6:
                sum1+=x
                break
            else:
                add=False
        while not add:
            if x!=9:
                break
            else:
                add=True
                break
    return sum1

In [253]:
# Check
summer_69([1, 3, 5])

9

In [254]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [255]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [320]:
# Done with the help of solution
def spy_game(nums):
    code=[0,0,7,'x']
    for x in nums:
        if x==code[0]:
            code.pop(0)
    return len(code)==1

In [321]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [322]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [323]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [339]:
def count_primes(num):
    if num<2:
        return 0
    list1=range(2,num+1)
    count=0
    for x in list1:
        if x%2!=0 and x%3!=0 and x%5!=0:
            x+=1
            count+=1
        
    return count

In [340]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
# 
def print_big(letter):
    paas

In [ ]:
print_big('a')

## Great Job!